@use '../../../styles/variables' as *;

.navbar {
  background-color: $primary-color;
  color: $secondary-color;
  padding: $padding 20px;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      color: $secondary-color;
      text-decoration: none;
      font-weight: bold;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: $padding;

      li {
        a {
          color: $secondary-color;
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s;
          cursor: pointer;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}
